# **Data Understanding and Exploration**

Data understandng and exploration is one another important tasks in building predictive model. As it helps to understand three major things about the data set that you have
- Format of the data and attributes
- Shape and the distribution of the data
- Anomalies and outliers in the data

Let's see how Python can be used for the data exploration

In [1]:
import pandas as pd

# import a csv file named 'data.csv'
DF_1 = pd.read_csv("C:/Users/hansaperera/Documents/DSWork/Projects/Ongoing/BootCamp Data and AI/Data/Week 3 - Data sets/Machineutilization.csv")

In [2]:
DF_1

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

**Describe Data Set**

In [4]:
DF_1.describe()

,UDI,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,5000.50000,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900,0.004600,0.011500,0.009500,0.009800,0.00190
std,2886.89568,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981,0.067671,0.106625,0.097009,0.098514,0.04355
min,1.00000,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,2500.75000,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,5000.50000,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,7500.25000,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,10000.00000,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

- Count - Shows the number of rows in the data set
- Mean - It is the avearge of the data set. Mean is an important descripitive statistics to get an understanding about the data set given that the data set is not skewed
- std - This is the Standarad Deviation. This mesuare gives an understanding about how the data is dispersed abround the mean.
- min - Minimum value of the data set
- 25% - It is the 25th percentile when the data is arranged to an ascending order. 
- 50% - It is the 50th percentile when the data is arranged to an ascending order. Also known as the mid term of the data set
- 75% - It is the 75th percentile when the data is arranged to an ascending order.
- max - Maximum value of the data set

These values are a valuable representation of the data set. But to perform a deep exploration of the data there are many more things that need to be done.
Data can be easily categorized into two types
- **Quantitative Data** - It is numerical data that can be measured and expressed using numbers. It is a type of data that deals with quantities or amounts, and is often associated with statistics and mathematical analysis. Quantitative data is typically collected through structured research methods such as surveys or experiments, and can be analyzed using statistical techniques. Quantitative data can be again divided into two categories as follows
    - **_Interval Data_** - Interval data are the data which are numerical but there is no true zero point. This means that values can be added, subtracted, and compared, but multiplication or division of values is not meaningful.
    - **_Ratio Data_** - that represents numerical values with equal intervals between them, and has a true zero point. This means that values can be added, subtracted, multiplied, and divided in meaningful ways. The true zero point represents an absence of the quantity being measured, making it possible to compare ratios between values.
    
    
- **Categorical Data** - is a type of data that describes a qualitative or non-numerical variable. It is data that represents groups or categories and is often represented by words or labels rather than numerical values. Categorical data can be divided into two types: nominal and ordinal data.
    - **_Nominal Data_** - Nominal data represents variables that have no order or ranking, and the categories are not numerically related to each other. 
    - **_Ordinal Data_** - Ordinal data represents variables that have a specific order or ranking, but the difference between the categories is not quantifiable.

Based on the data types the analysis can be varied. In the process of data exploration we follow the following procedure.
1. Understanding of data and attributes
    - Attributes - Name of the field that represent data
    - Rows - Total number of rows in the data set
    - Columns - Total number of attributes or fields in the data set
    - Missing values - Missing values are the values either not recorded or not available. They can be seen as either empty, NA or NULL etc.
    

2. Understand the **descripitive measures** for the data


_**Quantitative data**_
- _**Measures of Descripitives**_ 
    - Mean - Average value of the data set
    - Median - Mid term of the data set
    - Mode - Most frequent data point
- _**Measures of Skewness**_
   - Negative skewed - If the tail of the data set is towards the right hand side of the distribution then it is said to be negatively skewed
   - Positively skewed - If the tail of the data set is towards the left hand side of the distribution then it is said to be positively skewed
- _**Measures of kurtosis**_
   - Leptokurtic - A distribution that has a higher peak and heavier tails than a normal distribution
   - Platykurtic - A distribution that has a lower peak and lighter tails than a normal distribution.
   
_**Qualitative data**_
- Frequencies - Identification of counts
- Percentage - Identification of percentages
- Cross Tabulation - Pivoting for cross evaluation of groups 

3.Understand the correlations between attributes
For the quantitative variables

**Use of build libraries in Python for data profiling and exploration**

In [3]:
import pandas_profiling
profile = DF_1.profile_report(title='Pandas Profiling Report')

In [4]:
profile

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [5]:
import sweetviz as sv
report = sv.analyze(DF_1)

                                             |          | [  0%]   00:00 -> (? left)

In [6]:
report.show_html('C:/Users/hansaperera/Documents/DSWork/Projects/Ongoing/BootCamp Data and AI/Data/report.html')

Report C:/Users/hansaperera/Documents/DSWork/Projects/Ongoing/BootCamp Data and AI/Data/report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

**Cross Tabulation with Python**

In [17]:
cross_tab = pd.crosstab(DF_1['Machine_failure'], [DF_1['Type']],normalize='columns')
cross_tab

Type                    H         L         M
Machine_failure
0                0.979063  0.960833  0.972306
1                0.020937  0.039167  0.027694

In [19]:
cross_tab = pd.crosstab(DF_1['Machine_failure'], [DF_1['Type']],normalize='index')
cross_tab

Type                    H         L         M
Machine_failure
0                0.101646  0.596729  0.301625
1                0.061947  0.693215  0.244838

In [21]:
cross_tab = pd.crosstab(DF_1['Machine_failure'], [DF_1['Type']],normalize=True)
cross_tab

Type                  H       L       M
Machine_failure
0                0.0982  0.5765  0.2914
1                0.0021  0.0235  0.0083